.ReadButton {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 3px;
  border: 0px;
  outline: none;
  background-color: #3cc26f;
  color: #fff;
  cursor: pointer;
}

.ReadButton:hover {
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}

.ReadButton.Not {
  background-color: #202522;
}
